        .bg-dark{
        font-family: Montserrat, Helvetica, sans-serif;
        }
        .navbar-dark {
            font-family: Montserrat, Helvetica, sans-serif;
            /* background-color: #0062cc !important; */
            background-image: linear-gradient(-170deg,#07d4c2, #270955);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07), 0 0.5px 5px 0 rgba(0, 0, 0, .06), 0 1px 2px -2px rgba(0, 0, 0, .1);

        }
        .navbar{
            min-height: 80px;
        }
        button.navbar-toggler {

            color: #ffffff !important;
            border: none;

        }

        button.navbar-toggler:focus {
            outline: none !important;
        }

        .jumbotron {
            /* background-color: #0062cc; */
            border-radius: 0px;
            min-height: 85vh;
            background-position: center;
            background-size: cover;
            border: 0px;
            
            /* background-image: url('../assets/images/bg.png'); */
        }

        .jumbotron .container {
            /* background-color: #0062cc; */
            /* border-radius: 0px;
            min-height: 55vh; */
            margin-top: 40vh;

        }


        .btn-outline-secondary {
            border: none;
            outline: none !important;
            border: rgba(0, 0, 0, 0) !important;
            /* background-color: #0062cc !important;
            color: #ffffff; */

        }
        .btn:focus {
        outline: none !important;;
        }
        .btn-secondary {
            /* border: 2px solid #0062cc;
            background-color: #ffffff;
            color: #0062cc;
            border-radius: 0px;
            outline: none !important; */
            display: inline-block;
            padding: 15px 50px;
            min-width: 230px !important;
            border: none;
            border-radius: 50px;
            margin: 20px 5px;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
            background-image: linear-gradient(-170deg,#07d4c2, #270955);
            /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) */
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .07), 0 0.5px 5px 0 rgba(0, 0, 0, .06), 0 1px 2px -2px rgba(0, 0, 0, .1);


        }

        .btn-secondary:hover {
            /* border: 2px solid #ffffff;
            background-color: #0062cc;
            color: #ffffff; */
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)


        }

        .btn-secondary:active {
            /* border: 2px solid #ffffff;
            background-color: #0062cc;
            color: #ffffff; */
            background-image: linear-gradient(-170deg,#07d4c2, #270955) !important;

        }
        .btn-dribbble{
            color:#c32361;
            border:2px solid #c32361;
            border-radius: 25px;
            font-size: 12px;
            height:28px;
            line-height: 13px;
        }
        .btn-dribbble:hover{
            color:#ffffff;
            background-color: #c32361;
        }
        .btn-github{
            color:#24292e;
            border:2px solid #24292e;
            border-radius: 25px;
            font-size: 12px;
            height:28px;
            line-height: 13px;
        }
        .btn-github:hover{
            color:#ffffff;
            background-color: #24292e;
        }
        .btn-email{
            color:#00978a;
            border:2px solid #00978a;
            border-radius: 25px;
            font-size: 12px;
            height:28px;
            line-height: 13px;
        }
        .btn-email:hover{
            color:#ffffff;
            background-color: #00978a;
        }
        .btn-cv{
            color:#2d0097;
            border:2px solid #2d0097;
            border-radius: 25px;
            font-size: 12px;
            height:28px;
            line-height: 13px;
        }
        .btn-cv:hover{
            color:#ffffff;
            background-color: #2d0097;
        }
        .btn-linkedin{
            color:#004b7c;
            border:2px solid #004b7c;
            border-radius: 25px;
            font-size: 12px;
            height:28px;
            line-height: 13px;
        }
        .btn-linkedin:hover{
            color:#ffffff;
            background-color: #004b7c;
        }
        .hi{
            line-height: 30px;
        }
        .typed-cursor {
            display: none;
        }

        a:hover {
            text-decoration: none !important;
            -webkit-user-drag:none;
        }

        .brand{
            font-size: 40px;
        }

        #info {
padding: 20px 20px;
text-align: center;
font-size: 1.5rem;
text-shadow: 1px 1px 1px #00000040;

        }
        .em-svg{
            font-size: 1rem;
        }
        #cont-info {
            position: relative;
            background-image: linear-gradient(-170deg,rgba(7, 212, 195, 0.62), rgba(39, 9, 85, 0.75)) ;
            border-radius: 50px;

        }     .card{
            background-position: center;
            background-size: cover;
            border-radius: 14px;
            -webkit-box-shadow: 10px 10px 40px 4px #d9d9d9;
            -moz-box-shadow: 10px 10px 40px 4px #d9d9d9;
            box-shadow: 10px 10px 40px 4px #d9d9d9;
            min-height: 220px;
            border: none;
       }
.card-img-top{
    border-top-left-radius: 14px !important;
    border-top-right-radius: 14px !important;
    height: 220px;
    transition: all 0.5s ease-in-out;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(7, 212, 195, 0.62); */

}
/* .card-img-top:hover{

    background-size:150%;

} */
.card:hover .card-img-top, .card:focus .card-img-top {
    background-size: 160%;

}

#c1{
    background-image: url('../assets/images/9.JPG');
}
#c2{
    background-image: url('../assets/images/8.JPG');
}
#c3{
    background-image: url('../assets/images/7.JPG');
}
#c4{
    background-image: url('../assets/images/2.jpg');
}
#c5{
    background-image: url('../assets/images/1.jpg');
}
#c6{
    background-image: url('../assets/images/4.png');
}
#c7{
    background-image: url('../assets/images/3.jpg');
}
#c8{
    background-image: url('../assets/images/5.JPG');
}
#c9{
    background-image: url('../assets/images/6.png');
}
#c10{
    background-image: url('../assets/images/10.JPG');
}
#c11{
    background-image: url('../assets/images/11.JPG');
}
        .card-footer{
            background-image: linear-gradient(-170deg,#07d4c2, #270955) !important;
            border-top: none !important;
            transition: 0.3s;
            border-bottom-left-radius: 12px !important;
            border-bottom-right-radius: 12px !important; 


        }

        .card-footer:hover{
        opacity: 0.8;
        }
        .card-footer a{
            width: 100%;
        }
        /* .card-text{
            color:#ededed !important;
        } */
        .card-deck{
            margin-bottom: 30px ;
        }
        footer{
            background-image: linear-gradient(-170deg,#07d4c2, #270955) !important;
padding: 50px;            

        }
        .social .cir{
            background-image: linear-gradient(-170deg,#07d4c2, #270955) !important;
            padding:25px 30px;
            font-size: 2rem;   
            border-radius:50%;
            height:100px;
            width:100px;
        }
         .parallax-window {
            /* min-height: 400px; */
            background: transparent;
        } 
        .album {
            /* min-height: 400px; */
            background: transparent !important;
        } 
        .mywrk h1{
            line-height: 200px;
            font-family: 'Roboto', Arial;
        }

        .skills {
            text-align: left;
            padding: 3px 10px;
            margin: 5px 0;
            line-height:15px;
            color: white;
            border-radius: 25px;
            font-family: 'Roboto', Arial;
            font-size: 11px;
                  }
          
          .html {width: 90%; background-color: #e74c3c;}
          .css {width: 80%; background-color: #2980b9;}
          .js {width: 70%; background-color: #f1c40f;}
          .php {width: 60%; background-color: #8e44ad;}

          .more_skills{
              margin:15px auto;
              width:80%;
              
          }
          .btn-tag{
            color:#7f8c8d;
            border:2px solid #7f8c8d;
            margin:3px 0;
            border-radius: 25px;
            font-size: 11px;
            height:24px;
            line-height: 9px;
        }
        .btn-tag:hover{
            color:#ffffff;
            background-color: #7f8c8d;
        }
        #up{
            cursor: pointer;
        }
        .down{
            width: 60px;
            height: 60px;
            border-radius:100%;
            line-height: 60px;
            /* border:2px solid #ffffff; */
            margin:20px auto;
            font-size: 1rem;
            cursor: pointer;
            color:#ffffff;

        }